.container{
    width:100%;
    min-height:50px;
    background-color:#eaeaea;
    padding: 25px 143px 36px 30px;
}

.container p{
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

@media all and (min-width:300px) and (max-width:450px){
    .container{
        padding:20px 20px 50px 20px;
    }
}